@model IEnumerable<Entities.Post>

@{
    ViewData["Title"] = "Все посты";
}

<h1>Все посты</h1>

<p>
    <a asp-action="Create">Создать новый пост</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Заголовок
            </th>
            <th>
                Сообщение
            </th>
            <th>
                Id
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Header)
                </td>
                <td>
                    / @Html.DisplayFor(modelItem => item.Content) /
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    <a asp-controller="HtmlComments" asp-route-id="@item.Id" asp-action="Index">Перейти</a>
                    @Html.ActionLink("Доп. информация", "Details", new { item.Id }) |
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    <a asp-controller="HtmlBoards" asp-action="Index">Назад к списку досок</a>
</div>
